@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace, Helvetica, sans-serif, 'Ubuntu Mono', 'Noto Sans';
}
span {
  font-size: 30px;
}
#home {
  background-color: #c3d7f7;
  overflow: hidden;
  cursor: default;
  left: 0;
  padding-left: 125px;
  padding-top: 45px;
  justify-content: center;
}
#home > .title {
  display: inline-block;
  height: inherit;
  font-size: 26px;
  line-height: inherit;
  position: absolute;
}
#home > .header2 {
  display: inline-block;
  height: inherit;
  max-width: 25em;
  line-height: 26pt;
  position: absolute;
  color: #152742;
  padding-top: 120px;
}
#home > .profile-pic{
  padding-top: 50px;
  text-align: right;
  padding-bottom: 100px;
  padding-right: 15%;
}
.profile-pic img{
  border-radius: 50%;
  max-width: 25em;
}
a.button {
  background-color: #7189b0;
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  vertical-align: text-middle;
  text-align: center;
  color: #ebe6eb;
  font-weight: normal;
  font-style: normal;
}
a.button:hover{
  background: #263347;
}
#about {
  padding: 10%
}
#work {
  overflow: hidden;
  cursor: default;
  left: 0;
  top: 50%;
  left: 50%;
  background: #F4F8FF;
}
.title{
  text-align: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
  font-size: 26px;
  font-weight: bolder;
  color: #252525;
  font: Consolas;
}

.subtitle{
text-align: center;
font-weight: normal;
padding-top: 10px;
font-size: 24px;
color: #3d3d3d;
padding-bottom: 20px;
}

.center {
margin: auto;
width: 50%;
padding: 10px;
}

#work > .box{
  border-radius: 10px;
  border: 1px solid #7189b0;
  padding: 30px;
  width: 1000px;
  height: 250px;
}

#work > .box > .jobTitle{
  font-size: 22px;
  color: #152742;
}

.padding{
  padding: 20px;
}

.description{
  color: #3d3d3d;
  font-size: 20px;
}

.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

.nav{
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-toggle {
  margin: 13px 15px 13px 0;
}
a {
  font-size: 18px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  transition: all 0.3s ease;
}

nav.navbar.shrink {
	min-height: 35px;
}
.navbar-brand {
  font-size: 25px;
}
a {
  font-size: 15px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}
